.swiper {
	height: 100%;
	width: 100%;
}

.swiper-slide {
	height: 100%;
}

.swiper-wrapper {
	width: 100%;
}

.projectShown {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	overflow: hidden;
	align-items: center;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.imgContainer,
.projectInfoContainer {
	background: rgba(65, 124, 192, 0.25);
	width: 100%;
	min-height: 40%;
	/* height: 30%; */
	display: flex;
	text-align: center;
}

.projectInfoContainer {
	height: 100%;
	padding: 0 0 2rem 0;
}

.projectInfo {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	/* padding: 2rem; */
}

/* .projectImg {
	width: 100%;
	pointer-events: none;
} */

.projectInfoContainer > div {
	padding: 0.5rem;
}

.imgContainer {
	width: 100%;
	/* height: auto; */
	/* max-height: 30%; */
	pointer-events: none;
}

.projectImgItem {
	width: 100%;
	/* aspect-ratio: 2Ç/1; */
	/* height: auto; */

	pointer-events: none;
}

.projectTitleDescriptionContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.projectTitleDescriptionContainer h3 {
	color: white;
}

.projectTechsContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 0.25rem;
}

.projectTechPill {
	border: 1px solid black;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
}

.projectLinks {
	display: flex;
	justify-content: space-around;
}

.projectLinks > a {
	border: 1px solid white;
	border-radius: 100%;
	height: 3rem;
	width: 3rem;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 1000px) {
	.projectShown {
		flex-direction: row;
		height: 100%;
		width: 75%;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		gap: 1rem;
	}

	.imgContainer {
		/* height: auto; */
		width: 100%;
	}

	.projectInfoContainer {
		height: 70%;
		margin: 1rem;
		padding: 6% 1rem;
		/* justify-content: center; */
		align-items: stretch;
	}
}
