

.projectShown {
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	align-items: center;
	justify-content: center;
}

.projectImg,
.projectInfo {
	background: rgba(65, 124, 192, 0.25);
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.projectImg {
	border-radius: 1rem 0 0 1rem;
	-webkit-border-radius: 1rem 0 0 1rem;
	-moz-border-radius: 1rem 0 0 1rem;
	-ms-border-radius: 1rem 0 0 1rem;
	-o-border-radius: 1rem 0 0 1rem;
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	pointer-events: none;
}

.projectInfo {
	background: #f3e7433b;
	border-radius: 0 1rem 1rem 0;
	-webkit-border-radius: 0 1rem 1rem 0;
	-moz-border-radius: 0 1rem 1rem 0;
	-ms-border-radius: 0 1rem 1rem 0;
	-o-border-radius: 0 1rem 1rem 0;
}

.projectInfo > div {
	padding: 0.5rem;
}

.imgContainer {
	width: 95%;
	pointer-events: none;
}

.projectImgItem {
	width:90%;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	pointer-events: none;
}

@media (max-width: 900px) {
	.projectShown {
		flex-direction: column;
		width: 100%;
	}

	.projectInfo {
		width: 100%;
		border-radius: 0 0 1rem 1rem;
		-webkit-border-radius: 0 0 1rem 1rem;
		-moz-border-radius: 0 0 1rem 1rem;
		-ms-border-radius: 0 0 1rem 1rem;
		-o-border-radius: 0 0 1rem 1rem;
	}

	.projectImg {
		height: 33%;
		overflow: hidden;
		width: 100%;
		transition: all 0.5s ease-in;
		border-radius: 1rem 1rem 0 0;
		-webkit-border-radius: 1rem 1rem 0 0;
		-moz-border-radius: 1rem 1rem 0 0;
		-ms-border-radius: 1rem 1rem 0 0;
		-o-border-radius: 1rem 1rem 0 0;
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-ms-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		pointer-events: all;
}

	.imgContainer{
		width: 100%;
	}
	.projectImgItem {
		width:100%;
	}
	
}
