/*  HOME 2  */

.home2container {
	display: flex;

	align-items: center;
	justify-content: center;
	height: 100%;
}

.home2left {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.home2right {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

/* .home2right div {
	background: linear-gradient(200deg, yellow 12%, rgb(255, 105, 4));
	width: 100%;
	max-width: 20rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	overflow: hidden;
	box-shadow: #8c8eeb81 1px 1px 3rem;
} */


.aboutHead {
	display: flex;
	flex-direction: column;
}

.aboutHeadText {
	font-family: proxima;
}

.aboutBody {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 100%;
	max-width: 75ch;
}

.aboutBody p {
	font-size: 1.2rem;
}

.aboutButtons {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media (max-width: 1200px) {
	.aboutBody p {
		font-size: 1rem;
	}
}

@media (max-width: 900px) {
	.home2container {
		flex-direction: column-reverse;
		justify-content: space-around;
		height: 100%;
	}

	.home2left {
		width: 100%;
	}


	.home2right {
		width: 50%;
	}


	.aboutBody {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 100%;
		max-width: 100%;
	}


	.aboutBody p {
		font-size: 1rem;
	}
	.aboutHeadText h2 {
		font-size: 2.25rem;
	}

	
}
@media (max-width: 400px) {
	.aboutBody p {
		font-size: 0.8rem;
	}
	.aboutHeadText h2 {
		font-size: 2.25rem;
	}
}
