/*  HOME 2  */

.home2container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	max-width: 100%;
}

.home2left {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.home2right {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.softSkillHex {
	width: 100%;
	/* display: flex; */
	/* justify-content: space-around; */
	--s: clamp(4rem, 12vw, 6rem); /* size  */
	--r: 1; /* ratio */

	/* clip-path parameter */
	--hc: 20px;
	--vc: 30px;

	--m: 0.75rem; /* vertical margin */
	--mh: calc(
		var(--m) + (var(--s) - 2 * var(--hc)) / 2
	); /* horizontal margin */
	--f: calc(2 * var(--s) + 4 * var(--m) - 2 * var(--vc) - 2px);
}

.containerHex {
	font-size: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.hex {
	background: linear-gradient(180deg, yellow 12%, rgb(255, 105, 4));

	width: var(--s);
	margin: var(--m);
	height: calc(var(--s));
	display: inline-block;
	font-size: initial; /* we reset the font-size if we want to add some content */
	clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.hexTextContainer {
	display: grid;
	place-items: center;
	color: rgb(255, 255, 255);
	height: 100%;
	font-size: clamp(2.5rem, 7.5vw, 3.5rem);
}

.hexTextContainer i {
	filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
	-webkit-filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
}

.aboutHead {
	display: flex;
	flex-direction: column;
}

.aboutHeadText {
	font-family: proxima;
}

.aboutBody {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 75ch;
}

.aboutBody p {
	font-size: 1.2rem;
}

.aboutButtons {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}


@media (max-width: 900px) {
	.home2container {
		flex-direction: column-reverse;
		gap: 1rem;
		padding: 0.5rem;
	}

	.home2left {
		width: 100%;
		justify-content: center;
		height: 100%;
	}

	.home2right {
		gap: 0;
		height: 80%;

		justify-content: space-evenly;
	}

	.aboutBody {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 80%;
		max-width: 100%;
	}

	.aboutBody p {
		font-size: clamp(0.8rem, 3vw, 1.2rem);
	}
	.aboutHeadText h2 {
		font-size: 2.25rem;
	}
}
