/*  HOME 2  */

.home2container {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	gap: 2rem;
}

.home2left {
	/* width: 100%; */

	height: 75%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.home2right {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30vw;
}

.home2right div {
	background-color: #ff3e54cc;
	width: 100%;
	max-width: 25rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	overflow: hidden;
	box-shadow: #8c8eeb81 1px 1px 3rem;

}

.profileImg {
	width: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	user-select: none;
	pointer-events: none;
}



.aboutHead {
	display: flex;
	flex-direction: column;
}

.aboutHeadText {
	margin-left: 1rem;
	font-family: proxima;
}

.aboutBody {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 100%;
	padding: 0.5rem;
	justify-content: space-around;
	width: 100ch;

}

.aboutBody p {
	font-size: 1.2rem;
	/* max-width: 75ch; */
}

.aboutButtons{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}


.aboutLinks {
	display: flex;
	gap: 1rem;
	width: fit-content;

}

.aboutLinks a:hover div {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.aboutLinks div {
	padding: 0.5rem 1rem;
	border: #ff3e55 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	font-family: var(--font1);
	font-size: clamp(0.8rem, 1.8vw, 1.5rem);
}

.aboutLink {
	max-width: fit-content;
}

.aboutCurriculum {
	background-color: #ff3e55;
	color: white;
	border: 1px solid var(--white-01);
	width: fit-content;
	padding: 0.75rem 1.1rem;
	border-radius: 0.75rem;
	-webkit-border-radius: 0.75rem;
	-moz-border-radius: 0.75rem;
	-ms-border-radius: 0.75rem;
	-o-border-radius: 0.75rem;
	font-size: clamp(1rem, 2vw, 2rem);
	font-family: var(--font1);
}

.aboutCurriculum:hover {
	background-color: #ff2b43;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.aboutCurriculum:active {
	background-color: #000;
	color: #ff3e55;
	transform: translateY(4px);
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
}

@media (max-width: 1200px) {
	.aboutBody p {
		font-size: 1rem;
	}
}



@media screen and (max-width: 900px) {
	.home2container {
		flex-direction: column-reverse;
		height: 75vh;
		gap: 3rem;
	}

	.home2left {
		width: 100%;
		height: 70%;
	}

	.home2right {
		height: 30%;
		width: 50%;
	}

	.home2right div {
		max-width: 16rem;
	}

	.aboutBody{
		align-items: center;
		width: 100%;
	}
	
	.aboutBody p {
		font-size: 1rem;
		text-align: center;

	}
	.aboutHeadText h2 {
		font-size: 2.5rem;
	}

	.aboutButtons > div > * > *{
		font-size: 1.5rem;
	}

	.aboutButtons > * >  *{
		font-size: 1.5rem;
	}

}
@media (max-width: 400px) {
	.aboutBody p {
		font-size: 0.8rem;
	}
	.aboutHeadText h2 {
		font-size: 2.5rem;
	}
}