/*  HOME 1 */

.home1container {
	display: flex;
	justify-content: center;
	font-family: proxima;
	width: 100%;
	gap: 1.5rem;
}

.home1left {
	min-width: 20vw;
}

@media screen and (max-width: 900px) {
	.home1left {
		min-width: 2vw;
	}
}

.home1right {
	display: flex;
	flex-direction: column;
	width: 80vw;
	gap: 3rem;
	user-select: none;
}

.home1container h2 {
	max-width: fit-content;
	background: linear-gradient(200deg, yellow 12%, rgb(255, 105, 4));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.helloh2 {
	height: max-content;
	max-width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.helloh2text {
	line-height: 0.8;
	font-size: clamp(1.5rem, 16vw, 10rem);
}

.iamdiv {
	display: flex;
	align-items: center;
	min-width: 80%;
	/* width: 100%; */
	justify-content: center;
}

h2.iamh2white {
	background: white;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-right: auto;
}

.home1Ramiro {
	font-size: clamp(1.5rem, 18vw, 10rem);
}

.home1rrr {
	display: flex;
	align-items: flex-end;
	width: 2vw;
	position: absolute;
	right: 20%;
	bottom: 12%;
}

.arrowdown {
	width: 2.5rem;
	-webkit-user-drag: none;
}

/*  HOME 2  */

.home2container {
	display: flex;
	width: 88%;
	height: 100%;
	align-items: center;
	gap: 2rem;
}

.home2left {
	width: 60vw;
	height: 75%;
	display: flex;
	flex-direction: column;
}

.home2right {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30vw;
}

.home2right div {
	background-color: #ff3e54cc;
	width: 100%;
	max-width: 30rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	overflow: hidden;
	box-shadow: #ddeb8c81 1px 1px 3rem;
}

.profileImg {
	width: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	user-select: none;
	pointer-events: none;
}

@media screen and (max-width: 900px) {
	.home2container {
		flex-direction: column-reverse;
		height: 100%;
	}

	.home2left {
		width: 100%;
		height: 70%;
	}

	.home2right {
		height: 30%;
		width: 50%;
	}

	.home2right div {
		max-width: 16rem;
	}
}

.aboutHead {
	display: flex;
	flex-direction: column;
}

.aboutHeadText {
	margin-left: 1rem;
	font-family: proxima;
}

.aboutBody {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 100%;
	padding: 0.5rem;
	justify-content: space-around;
}

.aboutBody p {
	font-size: clamp(0.8rem, 2.5vw, 1rem);
	max-width: 75ch;
}

.aboutLinks {
	display: flex;
}

.aboutLinks a:hover div {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.aboutLinks div {
	padding: 0.5rem 1rem;
	border: #ff3e55 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem 0 0;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	font-family: var(--font1);
	font-size: clamp(0.8rem, 1.8vw, 1.5rem);
}

.aboutCurriculum {
	background-color: #ff3e55;
	color: white;
	border: 1px solid var(--white-01);
	width: fit-content;
	padding: 0.75rem 1.1rem;
	border-radius: 0.75rem;
	-webkit-border-radius: 0.75rem;
	-moz-border-radius: 0.75rem;
	-ms-border-radius: 0.75rem;
	-o-border-radius: 0.75rem;
	font-size: clamp(1rem, 2vw, 2rem);
	font-family: var(--font1);
}

.aboutCurriculum:hover {
	background-color: #ff2b43;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.aboutCurriculum:active {
	background-color: #000;
	color: #ff3e55;
	transform: translateY(4px);
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
}

/*  HOME 3  */

.home3container {
	width: 100%;
	display: flex;
	gap: 2rem;
	height: 100%;
	justify-content: center;
}

@media screen and (max-width: 900px) {
	.home3container {
		flex-direction: column;
		/* gap: 1rem; */
	}
}

.home3left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.skillsBody {
	max-width: 75ch;
	font-size: 1.5rem;
}

@media (max-width: 1200px){
	.skillsBody{
		font-size: 1.25rem;
	}
}

@media (max-width: 900px){
	.skillsBody{
		font-size: 1rem;
	}
}

.interests{
	color: #a5a5a5;
}

.home3right {
	width: 100%;
	display: grid;
	place-items: center;
}
