.projectsContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 100%;
	max-height: 90svh;
	align-items: stretch;
}

.projectTitle {
	height: 10%;
}

.cardsContainer {
	height: 100%;
	width: 100%;
	background-color: rgb(185, 182, 177);
}

@media (max-width: 900px) {
	.projectsContainer h2 {
		font-size: clamp(2rem, 6vw, 5rem);
	}
}
