.projectsContainer {
	display: flex;
	flex-direction: column;
	/* gap: 1.5rem; */
	height: 100%;
	justify-content: space-around;
	/* overflow-x: hidden; */
	width: 100%;
	max-width: 100%;
	
}


.myLatestProjects{
	font-size: clamp(1rem, 5vw, 2.5rem);
}



@media (max-width: 900px) {
	.projectsContainer h2 {
		font-size: clamp(1.5rem, 6.5vw, 2.5rem);
	}
}
