/* HomePage Components > TYPEWRITER */

.iamtypewriter {
	font-size: clamp(1rem, 1vw, 1.4rem);
	margin-right: auto;
	margin-left: auto;
	/* min-width: 13vw; */
}

/* @media (max-width: 900px) {
	.iamtypewriter {
		min-width: 40vw;
	}
} */

.writer {
	background: linear-gradient(
		90deg,
		rgb(255, 103, 103) 1%,
		rgb(255, 153, 85)
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
