/* HomePage Components > TYPEWRITER */

.iamtypewriter {
	font-size: clamp(0.75rem, 3vw, 1.5rem);
	margin-right: auto;
	width: 100%;
	/* padding-left: 1rem; */
}

.writer {
	background: linear-gradient(33deg, rgb(255, 75, 75) 12%, rgb(238, 185, 40));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
