input[type='radio'],
input[type='checkbox'] {
	box-sizing: border-box;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: var(--white-01);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	z-index: 2;
}

.languageSelector > button {
	border: none;
	background: transparent;
}

.langFlag {
	width: 90%;
	opacity: 75%;
}

.headerNav {
	padding-top: 0.25rem;
}

.brandLogo {
	font-size: 2rem;
	font-family: proxima;
	transition: transform 0.1s ease-out;
	-webkit-transition: transform 0.1s ease-out;
	-moz-transition: transform 0.1s ease-out;
	-ms-transition: transform 0.1s ease-out;
	-o-transition: transform 0.1s ease-out;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 33%;
}

.brandLogo a {
	transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
}

.brandLogo a:hover {
	color: yellow;
}

.rq {
	color: yellow;
	font-size: 1.5rem;
}

.menu-wrap {
	width: 33%;
	z-index: 1;
	position: relative;
	background-color: #c41010;
}

.toggler:hover .menu-wrap .hamburger {
	border: 1px solid white;
	z-index: 100;
}

.menu-wrap .toggler {
	position: absolute;
	top: -1.6rem;
	right: 0;
	z-index: 7;
	width: 3rem;
	height: 3.25rem;
	opacity: 0;
}

.toggler:hover {
	cursor: pointer;
}

.menu-wrap:hover .hamburger {
	background: rgba(255, 255, 0, 0.1);
}

.menu-wrap .hamburger {
	padding: 0.5rem;
	position: absolute;
	right: 0;
	z-index: 1;
	width: 3rem;
	height: 3rem;
	margin-top: -1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: background 0.15s linear;
	-webkit-transition: background 0.15s linear;
	-moz-transition: background 0.15s linear;
	-ms-transition: background 0.15s linear;
	-o-transition: background 0.15s linear;
}

.menu-wrap .hamburger > #hamburger-lines {
	position: relative;
	flex: none;
	width: 100%;
	height: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
	top: -0.1rem;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.menu-wrap .hamburger > #hamburger-lines::after,
.menu-wrap .hamburger > #hamburger-lines::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 3px;
	background-color: var(--white-01);
}

.menu-wrap .hamburger > #hamburger-lines::after {
	top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > #hamburger-lines::before {
	top: 0;
	transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > #hamburger-lines::after {
	top: 0;
	transform: rotate(225deg);
}

.menu-wrap .toggler:checked + .hamburger > #hamburger-lines {
	transform: rotate(180deg);
}

.menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > #menusub1 {
	transform: scale(1);
	transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > #menusub1 > #menusub2 {
	opacity: 1;
	transition: opacity 0.2s ease 0.2s;
}

.menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
}

.menu-wrap .menu,
.menu-wrap .menu > #menusub1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu > #menusub1 {
	background-image: -webkit-linear-gradient(
		100deg,
		#fd8059 40%,
		rgb(255, 255, 1)
	);
	background-image: -o-linear-gradient(
		200deg,
		#fd8059 33%,
		rgb(141, 141, 37)
	);
	background-image: linear-gradient(200deg, #fd8059 33%, rgb(141, 141, 37));
	width: 100svw;
	height: 100svh;
	flex: none;
	-webkit-transform: translate3d(0, -150%, 0);
	transform: translate3d(0, -150%, 0);
	transition: all 0.65s ease;
	-webkit-transition: all 0.65s ease;
	-moz-transition: all 0.65s ease;
	-ms-transition: all 0.65s ease;
	-o-transition: all 0.65s ease;
}

.menu-wrap .menu > #menusub1 > #menusub2 {
	max-width: 90svw;
	max-height: 80svh;
	height: 100%;
	opacity: 0;
	transition: opacity 0.1s ease 0.1s;
	-webkit-transition: opacity 0.1s ease 0.1s;
	-moz-transition: opacity 0.1s ease 0.1s;
	-ms-transition: opacity 0.1s ease 0.1s;
	-o-transition: opacity 0.1s ease 0.1s;
	display: flex;
}

#menu-links {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5%;
	padding: 0;
}

#menu-links li {
	list-style: none;
	transition: 1s;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-links li a {
	position: relative;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 8px;
	font-size: 5rem;
	padding: 0 10px;
	line-height: 1.6;
	font-family: proxima, futuraRegular, monospace;
	color: #c41010;
	-webkit-user-drag: none;
}

#menu-links li a.active::after,
#menu-links li a.active::before {
	background: linear-gradient(
		90deg,
		var(--bg-color) 33%,
		var(--bright-color)
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#menu-links li a,
#menu-links li a:hover {
	color: transparent;
	text-decoration: none;
}

#menu-links li a::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	color: var(--white-01);
	transform: translateX(0);
	transition: 0.5s;
	pointer-events: none;
}

#menu-links li a:hover::before {
	transform: translateX(100%);
	opacity: 0;
}

#menu-links li a::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	color: var(--white-01);
	transform: translateX(-100%);
	transition: 0.5s;
	opacity: 0;
	pointer-events: none;
}

#menu-links li a:hover::after {
	transform: translateX(0);
	opacity: 1;
}

@media screen and (max-width: 700px) {
	.scrollDown {
		font-size: 13px;
		bottom: 52px;
	}

	.scrollDown:after {
		height: 56px;
		bottom: -68px;
	}

	#menu-links li a {
		font-size: 64px;
	}
}

@media screen and (max-width: 580px) {
	#menu-links li a {
		font-size: 56px;
	}
}

@media screen and (max-width: 520px) {
	#menu-links li a {
		font-size: 52px;
		letter-spacing: 8px;
	}
}

@media screen and (max-width: 500px) {
	.headerNav > .brandLogo {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 465px) {
	#menu-links li a {
		font-size: 50px;
		line-height: 1.6;
	}
}

@media screen and (max-width: 435px) {
	#menu-links li a {
		font-size: 45px;
		letter-spacing: 8px;
	}
}

@media screen and (max-width: 385px) {
	#menu-links li a {
		font-size: 42px;
	}
}

@media screen and (max-width: 360px) {
	#menu-links li a {
		font-size: 42px;
	}
}
