/*  HOME 1 */

.home1container {
	min-height: 100svh;
	max-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: proxima;
	/* margin-top: -2vw; */

}

.home1right {
	display: flex;
	flex-direction: column;
	/* width: 25vw; */
	gap: 3rem;
	user-select: none;
}

.home1container h2 {
	/* max-width: fit-content; */
	background: linear-gradient(200deg, yellow 12%, rgb(255, 105, 4));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.helloh2 {
	/* max-width: fit-content; */
	display: flex;

	align-items: center;
	justify-content: center;
}

.helloh2text {
	line-height: 0.8;
	font-size: clamp(1.5rem, 16vw, 10rem);
}

.hellocoma {
	background: white;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: clamp(1rem, 10vw, 5rem);
}

.iamdiv {
	/* width: 100vw; */
	display: flex;
	align-items: center;
	/* min-width: 50vw; */
	justify-content: space-between;
	/* gap: 3rem; */
}

h2.iamh2white {
	/* font-size: clamp(1.2rem, 12vw, 10rem); */
	background: white;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	/* margin-right: auto; */
	/* padding-left: 5vw; */
	

}

.home1Ramiro {
	display: flex;
	justify-content: center;
}

.home1Ramiro > h2 {
	font-size: clamp(1.5rem, 18vw, 10rem);
}

.home1rrr {
	position: absolute;
	bottom: 12%;
}

.arrowdown {
	width: 3rem;
	-webkit-user-drag: none;
}

@media  (max-width: 900px) {
	.home1right {
		/* width: 80vw; */
	}
}
