/*  HOME 1 */

.home1container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: proxima;
	margin-top: -5svh;
}

.home1right {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* width: 65%; */
	gap: 1rem;
	user-select: none;
}

.home1container h2 {
	/* max-width: fit-content; */
	background: linear-gradient(200deg, yellow 12%, rgb(255, 105, 4));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.helloh2 {
	display: flex;

	align-items: center;
	justify-content: center;
}

.helloh2text {
	text-align: center;
	line-height: 0.8;
	font-size: clamp(1.5rem, 16vw, 10rem);
}

.hellocoma {
	background: white;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: clamp(1rem, 10vw, 5rem);
}

.iamdiv {
	display: flex;
	align-items: baseline;
	justify-content: center;
	/* gap: 2rem; */
}

.iamdiv > div {
	display: flex;
width: 100%;
	text-align: center;
	justify-content: center;
}

.iamdiv > div:nth-child(2) {
	text-align: justify;
	/* background-color: aqua; */
	/* min-width: 40%; */
}

h3.iamh2white {
	font-size: clamp(1.2rem, 10vw, 5rem);
	background: white;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	/* padding: 0; */
	/* margin: 0; */
}

.home1Ramiro {
	display: flex;
	justify-content: center;
}

.home1Ramiro > h2 {
	font-size: clamp(1.5rem, 18vw, 10rem);
}

.home1rrr {
	position: absolute;
	bottom: 10svh;
}

.arrowdown {
	width: 3rem;
	-webkit-user-drag: none;
}

@media (max-width: 500px) {
	.home1right {
		width: 90%;
		
	}

	.iamdiv {
		/* gap: 1rem; */
	}
}
