.bgLighterEffect {
	pointer-events: none;
	position: fixed;
	display: flex;
	height: 100%;
	background: #ffffff;
	opacity: 1.25%;
	right: 0;
	top: 0;
	width: 50%;
}

section {
	padding-top: 4rem;
	padding-bottom: 2rem;
	height: 100svh;
	display: flex;
	scroll-snap-align: center;
	margin-bottom: 100svh;
	margin-top: 2svh;
}

#contact{
	margin-bottom: 1svh;
}

#home{
	margin-top: 1svh;
}

@media (min-width: 900px) {
	section > div {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}
