.bgLighterEffect {
	pointer-events: none;
	position: fixed;
	display: flex;
	height: 100%;
	background: #ffffff;
	opacity: 1.25%;
	right: 0;
	top: 0;
	width: 50%;
	z-index: -22;
}

section {
	/* height: 100vh; */
	height: 100svh;
	display:grid;
	align-items: center;
	scroll-snap-align: center;
	/* place-items: center; */
}


section > div {
	height: 75%;
	display: grid;
	/* align-items: center; */
	

}


.progress {
	position: fixed;
	left: 22%;
	right: 22%;
	height: 2px;
	bottom: 3rem;
	pointer-events: none;
}


