/*  HOME 3  */

.home3container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* gap: 1rem; */
}

.home3left {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* height: 100%; */
}

.home3right {
	width: 75%;
	/* height: 100%; */
}

.skillsBody {
	font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.interests {
	color: #a5a5a5;
}

@media (max-width: 900px) {
	.home3container {
		/* display: block; */
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	.home3left {
		width: 100%;
		height: auto;
	}

	.skillsBody{
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: center;
	}

	.home3right {
		height:100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.skillsHeadText h2{
		font-size: 2.5rem;
	}
}
