/*  HOME 3  */

.home3container {
	display: flex;
	/* height: 100dvh; */
	min-height: 100dvh;
	max-height: 100vh;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;

}


.home3left {
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	width: 42%;
	/* height: 50%; */
}

.home3right {
	width:30%;
	/* height: 100%; */
}

.skillsBody {
	font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.interests {
	color: #a5a5a5;
}


@media (max-width: 900px) {
	.home3container {
		flex-direction: column;
	
	}
	.home3left{
		min-width: 90%;
		height: 50%;
	}

	.home3right{
		height:50%;
		min-width: 99%;

	}

}