
/* HomePage Components > TYPEWRITER */

.iamtypewriter {
	font-size: clamp(1.75vw, 1rem, 4vw);
	margin-right: auto;
	margin-left: auto;
	min-width: 30vw;

}

@media (max-width: 500px) {
	.iamtypewriter{
		min-width: 35vw;
	}
}


.writer {
	background: linear-gradient(90deg, rgb(255, 103, 103) 1%, rgb(255, 153, 85));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
