
/* HomePage Components > TYPEWRITER */

.iamtypewriter {
	font-size: clamp(2vw, 1.2rem, 5vw);
	margin-left: 1.2rem;
}

.writer {
	background: linear-gradient(90deg, rgb(255, 103, 103) 1%, rgb(255, 153, 85));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-left: 0.5rem;
}
