:root {
	font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	background: rgb(15 23 42);
	color: #fff;
}

a {
	text-decoration: none;
	color: #b8b8b8;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	max-width: 100dvw;
	scroll-snap-type: y mandatory;
	-webkit-overflow-scrolling: touch;
	max-height: 100dvh;
}

.main {
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
}

.fullSection {
	scroll-snap-align: start end;
	scroll-snap-stop: always;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.fullSection:first-child {
	background-color: #474747;
}

.fullSection:nth-child(2n) {
	background-color: #681e1e71;
}

.nanana {
	height: 0px;
	opacity: 0;
}
