@font-face {
	font-family: proxima;
	src: url(./assets/fonts/Proxima.ttf);
	font-display: swap;
}

:root {
	font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	color: #fff;
	--bright-color: #ff4d5a;
	--primary-color: #ff3e55;
	--secondary-color: #ff4d61cf;
	--primary-mobile-color: #ff576a;
	--white-01: #fff;
	--white-02: #f7f6f5;
	--white-03: hsla(0, 0%, 100%, 0.7);
	--white-04: #c4c4c4;
	--bg-color: #021d44;
	--bg-color-02: #081f42;
	--bg-color-03: #1b242f;
	--bg-color-04: #020b16;
	--black: #000;
	--black-02: rgba(2, 11, 22, 0.8);

	--font1: proxima;

	background: var(--bg-color);
}

::-webkit-scrollbar {
	opacity: 0;
	width: 0;
}

* {
	box-sizing: border-box;
	padding: 0;
	cursor: none;
}




html {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;

}

body {	
	padding: 0;
	margin: 0;
	background-color: var(--bg-color);
	color: #c4c4c4;
}

a {
	text-decoration: none;
	color: var(--white-01);
}

h2 {
	color: var(--white-01);
	font-size: clamp(1.5rem, 14vw, 3rem);
	margin: 0;
	font-weight: 700;
	font-family: var(--font1);
}

/* .rama{ background-color: rgba(255, 255, 255, 0.062); } */