@font-face {
	font-family: proxima;
	src: url(./assets/fonts/Proxima.ttf);
}

:root {
	font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	background: #162547;

	color: #fff;
	--bright-color: #ff4d5a;
	--primary-color: #ff3e55;
	--secondary-color: #ff4d61cf;
	--primary-mobile-color: #ff576a;
	--white-01: #fff;
	--white-02: #f7f6f5;
	--white-03: hsla(0, 0%, 100%, 0.7);
	--white-04: #c4c4c4;
	--bg-color: #021d44;
	--bg-color-02: #081f42;
	--bg-color-03: #1b242f;
	--bg-color-04: #020b16;
	--black: #000;
	--black-02: rgba(2, 11, 22, 0.8);
}

* {
	box-sizing: border-box;
	padding: 0;
}

*,
::after,
::before {
	box-sizing: content-box;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	margin: 0;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: yellow;
	-webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
	background: green;
}

h2 {
	margin: 0;
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 1.2;

	color: rgb(233, 220, 40);
}

.bgLighterEffect {
	pointer-events: none;
	position: fixed;
	display: flex;
	height: 100vh;
	background: #f7f6f5;
	opacity: 1.93%;

	right: 0;
	top: 0;
	width: 40%;
	z-index: 1;
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
	overflow-y: hidden;
}

section > div {
	width: 90dvw;
	height: calc(100dvh - 12rem);
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress {
	position: fixed;
	left: 22%;
	right: 22%;
	height: 2px;

	bottom: 3rem;
}

/* ////////////////////////////  HEADER Y MENU  /////////////////////////////// / */

input[type='radio'],
input[type='checkbox'] {
	box-sizing: border-box;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 38px 40px 0;
	color: var(--white-01);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	z-index: 10;
}

header > a {
	font-size: 1.5rem;
	font-family: proxima;
}

.rq {
	color: yellow;
	font-size: 1.5rem;
}

.navbrand {
	color: var(--white-02);
	font-size: 26px;
	margin-left: 130px;
}

.navbrand,
.navbrand-icon {
	font-family: proxima_novaextrabold, monospace;
}

.navbrand-icon {
	color: var(--bg-color);
	font-size: 25px;
	font-weight: 700;
}

.navbrand::after {
	position: absolute;
	top: 55px;
	left: 158px;
	width: 44px;
	height: 44px;
	content: '';
	background: var(--primary-color);
	z-index: -1;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.menu-wrap {
	position: fixed;
	top: 0;
	right: 40px;
	z-index: 1;
}

.menu-wrap .toggler {
	position: absolute;
	top: 32px;
	right: 10px;
	z-index: 2;
	cursor: pointer;
	width: 60px;
	height: 50px;
	opacity: 0;
}

.menu-wrap .hamburger {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 50px;
	height: 60px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .hamburger > #hamburger-lines {
	position: relative;
	flex: none;
	width: 100%;
	height: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
	top: 10px;
}

.menu-wrap .hamburger > #hamburger-lines::after,
.menu-wrap .hamburger > #hamburger-lines::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 3.1px;
	background-color: var(--white-01);
}

.menu-wrap .hamburger > #hamburger-lines::after {
	top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > #hamburger-lines::before {
	top: 0;
	transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > #hamburger-lines::after {
	top: 0;
	transform: rotate(225deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > #hamburger-lines {
	transform: rotate(180deg);
}

.menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > #menusub1 {
	transform: scale(1);
	transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > #menusub1 > #menusub2 {
	opacity: 1;
	transition: opacity 0.2s ease 0.2s;
}

.menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
}

.menu-wrap .menu,
.menu-wrap .menu > #menusub1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu > #menusub1 {
	background-image: -webkit-linear-gradient(
		100deg,
		#fd8059 40%,
		rgb(255, 255, 1)
	);
	background-image: -o-linear-gradient(100deg, #fd8059 40%, rgb(255, 255, 1));
	background-image: linear-gradient(100deg, #fd8059 40%, rgb(255, 255, 1));
	width: 100vw;
	height: 100vh;
	flex: none;
	-webkit-transform: translate3d(0, -150%, 0);
	transform: translate3d(0, -150%, 0);
	transition: all 0.65s ease;
	-webkit-transition: all 0.65s ease;
	-moz-transition: all 0.65s ease;
	-ms-transition: all 0.65s ease;
	-o-transition: all 0.65s ease;
}

.menu-wrap .menu > #menusub1 > #menusub2 {
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.1s ease 0.1s;
	-webkit-transition: opacity 0.1s ease 0.1s;
	-moz-transition: opacity 0.1s ease 0.1s;
	-ms-transition: opacity 0.1s ease 0.1s;
	-o-transition: opacity 0.1s ease 0.1s;
}

#menu-links {
	position: relative;
	display: flex;
	flex-direction: column;
}

#menu-links li {
	list-style: none;
	transition: 1s;
	text-align: center;
}

#menu-links li a {
	position: relative;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 8px;
	font-size: 5rem;
	padding: 0 10px;
	line-height: 1.6;
	font-family: futuraRegular, monospace;
	color: var(--white-01);
}

#menu-links li a,
#menu-links li a:hover {
	color: transparent;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: var(--white-01);
}

#menu-links li a::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	color: var(--white-01);
	transform: translateX(0);
	transition: 0.5s;
	pointer-events: none;
}

#menu-links li a:hover::before {
	transform: translateX(100%);
	opacity: 0;
}

#menu-links li a::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	color: var(--white-01);
	transform: translateX(-100%);
	transition: 0.5s;
	opacity: 0;
	pointer-events: none;
}

#menu-links li a:hover::after {
	transform: translateX(0);
	opacity: 1;
}

@media screen and (max-width: 700px) {
	.scrollDown {
		font-size: 13px;
		bottom: 52px;
	}

	.scrollDown:after {
		height: 56px;
		bottom: -68px;
	}

	#fp-nav {
		bottom: -40px;
	}

	#fp-nav ul li {
		margin: 0 0 32px;
	}

	#menu-links li a {
		font-size: 64px;
	}

	/* html {
		cursor: none;
	} */
}

@media screen and (max-width: 580px) {
	#menu-links li a {
		font-size: 56px;
	}
}

@media screen and (max-width: 520px) {
	#menu-links li a {
		font-size: 52px;
		letter-spacing: 8px;
	}
}

@media screen and (max-width: 500px) {
	header {
		padding: 28px 40px 0;
	}

	.navbrand:after {
		top: 46px;
	}

	.menu-wrap .toggler {
		top: 22px;
		right: -5px;
	}

	.menu-wrap .hamburger {
		width: 45px;
		padding: 4px 0;
	}
}

@media screen and (max-width: 465px) {
	#menu-links li a {
		font-size: 50px;
		line-height: 1.6;
	}
}

@media screen and (max-width: 435px) {
	#menu-links li a {
		font-size: 45px;
		letter-spacing: 8px;
	}
}

@media screen and (max-width: 430px) {
	#fp-nav {
		bottom: -44px;
		left: 49% !important;
	}

	#fp-nav ul li {
		margin: 0 0 32px;
	}
}

@media screen and (max-width: 385px) {
	#menu-links li a {
		font-size: 42px;
	}
}

@media screen and (max-width: 360px) {
	#menu-links li a {
		font-size: 42px;
	}
}

/* ////////////////////////////    FIN     HEADER Y MENU  /////////////////////////////// / */

/* HOME 1 */

.home1container {
	display: flex;
	justify-content: center;
	font-family: proxima;
	width: 100%;
	gap: 1.5rem;
	/* align-items: center; */
	/* padding-left: 4rem; */
}

.home1left {
	min-width: 25vw;
}

@media screen and (max-width: 900px) {
	.home1left {
		min-width: 10vw;
	}
}

.home1right {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 3rem;
}

.home1container h2 {
	font-size: clamp(1.5vw, 15vw, 8rem);
}

.iamdiv {
	display: flex;
	align-items: center;
	min-width: 80%;
}

.iamh2white {
	color: white;
}

.helloh2 {
	height: max-content;
}

.hellodot {
	display: inline-block;
	color: white;
	width: clamp(1vw, 3vw, 1.5rem);
	height: clamp(1vw, 2.75vw, 1.5rem);
}

.iamtypewriter {
	font-size: clamp(2vw, 3.5vw, 2rem);
	margin-left: 2rem;
}

.iamtypewriter span:first-child {
	color: yellow;
}
